# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = ocrigg.settings

# Project: OC_RIGG
[deploy]
url = http://dash.scrapinghub.com/api/scrapyd/
username = a2bd66fa643c41938d134171ee133260
password =
project = 1754